/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Темный фон */
    color: #ffffff; /* Белый текст */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #000000;
    border-bottom: 2px solid #ffffff;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 400;
}

header p {
    font-size: 16px;
}

header a {
    color: #1E90FF; /* Синий цвет для ссылок */
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    margin-top: 40px;
}

h2 {
    font-size: 28px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.expertise-content {
    display: flex;
    justify-content: space-between;
}

.expertise-content ul {
    list-style: none;
    padding: 0;
}

.expertise-content ul li {
    margin-bottom: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.expertise-content ul li i {
    margin-right: 10px;
    font-size: 20px;
}

.experience-entry {
    margin-bottom: 40px;
}

.experience-entry h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.experience-entry p {
    font-size: 14px;
    color: #cccccc;
}

.experience-entry ul {
    list-style: none;
    padding: 0;
}

.experience-entry ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #ffffff;
}

footer p {
    margin: 0;
}

footer a {
    color: #1E90FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.expertise-content i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.expertise-content li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.expertise-content li strong {
    margin-left: 10px;
}

.experience-entry i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

footer i {
    margin-right: 5px;
}
